---
import ChannelInfoAside from "@/components/ChannelInfoAside.astro";
import CollapseIcon from "@/components/Icons/Collapse.astro";
import ButtonIcons from "@/components/ButtonIcons.astro";
import SortIcon from "@/components/Icons/Sort.astro";
import ButtonText from "./ButtonText.astro";

interface Channels {
  channel: string;
  image: string;
  categorie: string;
  viewers: number;
  description: string;
}

const followedChannels: Channels[] = [
  {
    channel: "DessT3",
    image:
      "https://static-cdn.jtvnw.net/jtv_user_pictures/12e13232-fdcd-4e75-88d3-f73682a03e24-profile_image-70x70.png",
    categorie: "Grand Theft Auto V",
    viewers: 16.6,
    description: "EL MAGO BO! | LA LIGA DE LA JUSTICIA | !ig",
  },
  {
    channel: "Mixwell",
    image:
      "https://static-cdn.jtvnw.net/jtv_user_pictures/6d3b4513-6824-4912-848c-dc046ee262ad-profile_image-70x70.png",
    categorie: "VALORANT",
    viewers: 34,
    description: "¿Radiant en 2 días?",
  },
];
---

<aside class="h-full bg-[#1f1f23] text-white">
  <div class="w-full flex items-center justify-between px-3 py-1">
    <h2 class="capitalize font-bold">For You</h2>
    <ButtonIcons title="Collapse" position="right">
      <button><CollapseIcon /></button>
    </ButtonIcons>
  </div>
  <div
    class="flex justify-between px-3 py-2 items-center hover:bg-[#26262c] cursor-pointer"
  >
    <h3 class="uppercase font-bold text-xs">Followed Channels</h3>
    <button><SortIcon /></button>
  </div>
  {
    followedChannels.map(
      ({ channel, categorie, image, viewers, description }) => (
        <ChannelInfoAside
          channel={channel}
          categorie={categorie}
          image={image}
          description={description}
          viewers={viewers}
        />
      ),
    )
  }
  <div class="flex items-center justify-between px-3 py-2">
    <ButtonText text="Show more" show />
    <ButtonText text="Show less" show={false} />
  </div>
</aside>

<style>
  aside {
    grid-area: aside;
  }
</style>
