---
import ArrowRightIcon from "@/components/Icons/ArrowRight.astro";
import DotsVerticalIcon from "./Icons/DotsVertical.astro";

interface Streams {
  duration: number;
  title: string;
  categorie: string;
  channel: string;
  categorieImage: string;
  date: number;
  views: string;
  cover: string;
}

interface Props {
  title: string;
  streams: Streams[];
}

const { title, streams } = Astro.props;

function getDuration(duration: number) {
  const hours = Math.floor(duration / 3600);
  const minutes = String(Math.floor((duration % 3600) / 60)).padStart(2, "0");
  const seconds = String(duration % 60).padStart(2, "0");

  return `${hours}:${minutes}:${seconds}`;
}
---

<section class="w-full text-white p-5">
  <header class="flex items-center justify-start gap-2 w-full">
    <h3 class="text-lg font-semibold">{title}</h3>
    <a
      href="#"
      class="text-violet-400 hover:text-violet-500 flex items-center w-max text-sm"
    >
      View All
      <ArrowRightIcon class="size-5 fill-violet-400" />
    </a>
  </header>
  <div
    class="snap-x snap-mandatory w-full overflow-y-hidden overflow-x-auto flex items-center justify-start gap-2 py-2"
  >
    {
      streams.map(
        ({
          title,
          duration,
          categorieImage,
          categorie,
          date,
          views,
          cover,
          channel,
        }) => (
          <article class="min-w-[300px] snap-start cursor-pointer group">
            <picture class="relative text-[13px] w-full aspect-video block h-[163px] group-hover:scale-105 transition-transform duration-500">
              <img
                src={cover}
                alt={`Cover for the stream ${title} of ${channel}`}
                class="aspect-video w-full h-full"
              />
              <span class="absolute bg-zinc-800 px-[5px] top-2 left-2 rounded-sm">
                {getDuration(duration)}
              </span>
              <span class="absolute bg-zinc-800 px-[5px] bottom-2 left-2 rounded-sm">
                {views} views
              </span>
              <span class="absolute bg-zinc-800 px-[5px] bottom-2 right-2 rounded-sm">
                {new Intl.RelativeTimeFormat("en", { style: "short" }).format(
                  new Date(date).getDay() - new Date().getDay(),
                  "day",
                )}
              </span>
            </picture>
            <div class="flex w-full items-start justify-start gap-2 py-2">
              <picture class="min-w-10 min-h-14">
                <img
                  class="w-full"
                  src={categorieImage}
                  alt={`${categorie} cover`}
                />
              </picture>
              <div>
                <h4
                  class="text-sm font-semibold w-[216px] overflow-x-hidden whitespace-nowrap overflow-ellipsis"
                  title={title}
                >
                  {title}
                </h4>
                <p class="text-zinc-400 text-[13px]">{channel}</p>
                <p class="text-zinc-400 text-[13px]">{categorie}</p>
              </div>
              <DotsVerticalIcon class="size-5" />
            </div>
          </article>
        ),
      )
    }
  </div>
</section>
