---
import ShareIcon from "@/components/Icons/Share.astro";
import DotsVertical from "@/components/Icons/DotsVertical.astro";
import ButtonIcons from "@/components/ButtonIcons.astro";
import ButtonText from "@/components/ButtonText.astro";
import LikeIcon from "@/components/Icons/Like.astro";
import BellIcon from "@/components/Icons/Bell.astro";
import StarIcon from "@/components/Icons/Star.astro";
import ArrowDownIcon from "@/components/Icons/ArrowDown.astro";

import type { Channels } from "@/types";

const streamData: Channels = {
  channel: "DessT3",
  image:
    "https://static-cdn.jtvnw.net/jtv_user_pictures/12e13232-fdcd-4e75-88d3-f73682a03e24-profile_image-70x70.png",
  categorie: "Grand Theft Auto V",
  viewers: "16.6",
  description: "EL MAGO BO! | LA LIGA DE LA JUSTICIA | !ig",
};

const date = new Date("05-20-2024");
const relativeTime = new Intl.RelativeTimeFormat("en", {
  style: "short",
}).format(date.getDay() - new Date().getDay(), "day");
---

<section id="player" class="w-full overflow-y-auto">
  <picture class="w-full">
    <source srcset="/preview.webp" type="image/webp" />
    <img src="/preview.png" class="aspect-video" alt="Video preview" />
  </picture>
  <section class="w-full">
    <header class="w-full p-2">
      <div class="w-full flex justify-between items-center p-2">
        <p class="text-zinc-300 font-bold text-sm">{relativeTime}</p>
        <div class="w-max flex gap-1 items-center justify-evenly text-white">
          <button
            class="flex gap-1 items-center justify-evenly bg-[#2e2e35] hover:bg-zinc-700 text-white py-1 px-2 rounded-sm font-semibold text-xs"
          >
            <ShareIcon />
            Share
          </button>
          <ButtonIcons title="Video options" position="bottom" hidden={true}>
            <DotsVertical size="size-5" />
          </ButtonIcons>
        </div>
      </div>
      <div class="text-white flex flex-col items-start gap-2">
        <h2 class="font-bold text-lg">{streamData.description}</h2>
        <div class="flex gap-2 items-center justify-start">
          <ButtonText text={streamData.categorie} show />
          <span class="bg-violet-400 size-1 rounded-full"></span>
          <p class="text-xs text-zinc-400">{streamData.viewers} views</p>
        </div>
      </div>
    </header>
  </section>
  <section
    class="w-full flex items-start justify-between bg-[#1f1f23] text-white p-3 rounded-xl"
  >
    <div class="flex items-start justify-start">
      <img
        src="https://static-cdn.jtvnw.net/jtv_user_pictures/12e13232-fdcd-4e75-88d3-f73682a03e24-profile_image-70x70.png"
        alt="DessT3 avatar"
      class="rounded-full"
      />
      <div class="text-[13px]">
        <h2 class="text-xl font-semibold">{streamData.channel}</h2>
        <p>Last live 21 hours ago</p>
        <p>576K followers</p>
      </div>
    </div>
    <div>
      <button><LikeIcon class="size-5 fill-white" /></button>
      <button><BellIcon class="size-5 fill-white" /></button>
      <button>
        <StarIcon class="size-5 fill-white" />
        Suscribe
        <ArrowDownIcon class="size-5 fill-white" />
      </button>
    </div>
  </section>
</section>

<style>
  #player {
    grid-area: video;
    border: 1px solid red;
  }
</style>
